<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">EcologyGame</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/forum">Forum</a>
    </li>
    <% if(!locals.title || (locals.title!="Login" && locals.title!="Registration")){ %>
      <li class="nav-item"></li>
        <a class="nav-link" href="/umm/users/logout">Sign out</a>
      </li>
    <% } %>
  </ul>
</nav>