<h1>Explore the Eco Game's community!</h1>
<div class="users-container">
    <!--Group users into rows of 10-->
    <!--<div class="users-row">
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
        <span><img class="user-img" src="" width="50px" height="50px"/></span>
    </div>-->
    <% for(let i=0; i<locals.users.length; i++){ %>
        <% if(i%10==0){ %>
            <div class="users-row">
        <% } %>
        <span><img class="user-img" src="<%= locals.users[i].photo %>" title="<%= locals.users[i].username %>" onclick="navigateToProfile('<%= locals.users[i].user_id %>')" width="50px" height="50px"/></span>
        <% if(i%10==9){ %>
            </div>
        <% } %>
    <% } %>
    <% if (locals.users.length%10!=0){ %>
        </div>
    <% } %>
</div>

<style>
    .users-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .users-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .user-img {
        margin: 10px;
        border-radius: 50%;
        border-style: dashed;
        border-color: green;
        border-width: 2px;
    }
    .user-img:hover {
        border-color: violet;
        opacity: 0.5;
        transform: scale(1.5) rotate(30deg);
    }
</style>

<script>
    function navigateToProfile(uid) {
        window.location.href = `/umm/users/profile/${uid}`;
    }
</script>