<h1>Welcome to the Eco Game!</h1>
<ul>
  <li><i>Good to see ya, <%= locals.username %>!</i></li>
  <!--<li>For now you can click here and visit the <a href="transfer-gui">transfer-gui</a></li>-->
</ul>

