<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>

  <body class='container'>
    <header><%- include('partials/header') %></header>
    <main>
      <div class="jumbotron">
        <%- body %>
      </div>
    </main>
    <footer><%- include('partials/footer'); %></footer>
</body>
</html>
